/**
 * Author:           BeiYuu
 * Contact:          beiyuu.com
 * Revised by:       LanternD
 */

/* 重置浏览器CSS */
html{color:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body,button,input,select,textarea{font-size:12px/1.5;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img,a img{border-width: 2px;border-color: #f5f5f5;border-radius: 1px;}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
ol,ul {list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
q:before,q:after {content:'';}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}

.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{zoom:1;}
body .hide{display:none;}
.left,.right{display:inline;}
.left{float:left;}
.right{float:right;}
table th, table td {
  padding: 8px;
  line-height: 20px;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table {
  margin-bottom: 20px;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  border-color: gray;
}

/***********default settings**********/
body {font-family: "微软雅黑","Arial","Helvetica","sans-serif";font-size:16px;}
a {color:#4A75B5;text-decoration:none;outline:none;}
a:hover {text-decoration:underline}
a.external {padding-right:13px;background:url('/img/icons.gif') no-repeat right 1px;}
a.external:hover {background-position:right -15px;}
.entry-title,.entry-title a {font-size:30px;font-weight:bold;margin-bottom:6px;color:#000;text-align:center;word-wrap: break-word;}
.entry-title a:hover {text-decoration:none;}
.entry-date {text-align:center;color:#999;margin-bottom:30px;margin-top:20px;font-size:14px;}

h2 {font-size:22px;font-weight:bold;margin-bottom:25px;}
h3 {font-size:18px;font-weight:bold;margin-bottom:25px;}
h4,h5,h6 {font-weight:bold;margin-bottom:15px;}
p {margin-bottom:40px;line-height:1.8em;}
code {background:#eee;border:1px solid #ccc;padding:0 5px;font-family:"Courier";line-height:14px;font-size:14px;word-wrap:break-word; }
pre {background-color:#000;padding:15px;overflow:auto;margin-bottom:40px;word-wrap:normal;font-size:14px;border: 1px solid #eee;-webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;color:#b9bdb6;margin-top:-20px; }
h4+pre, h3+pre { margin-top:20px; }
pre code{background-color:transparent;border:none;padding:10px;word-wrap:normal;overflow-x: }
pre ol{margin-left:25px;list-style-type:decimal;}

/************layout style*****************/
#content {width:1060px;margin:90px auto 60px;min-height:400px;height:auto !important;height:400px; }


/****************entry style**************/
.sidenav { width:240px; background:#fff; float:right; padding:20px; margin-bottom:50px; box-shadow:0 1px 4px #ccc; }
.sidenav h2 { font-size:18px; color:#333; margin-bottom:15px; }
.sidenav ul { margin-bottom:15px; }
.sidenav li { margin-bottom:12px; word-break: break-all;}
.sidenav a { color:#555; font-size:14px; display:block;}
.sidenav .rss {font-size: 16px; color:#333;}
.entry{margin-bottom:80px;width:680px; float:left; background:#fff; padding:30px; box-shadow:0 2px 6px #ccc; }
.entry ul{margin-bottom:25px;margin-left:25px;}
.entry p+ul {margin-top:-20px;}
.entry ul li{margin-bottom:5px;list-style:disc;line-height:1.8em;}
.entry ol{margin-bottom:25px;margin-left:25px;}
.entry ol li{margin-bottom:5px;list-style:decimal;line-height:1.1em;}
.entry blockquote{    
    padding: 10px 10px;
    margin: 0 0 20px;
    font-size: 16px;
    border-left: 5px solid #eee}
.entry blockquote p{
    margin-bottom: 0px;
    line-height: 1.5em;
}
.entry img{max-width:670px;display:block;margin:10px auto; border-width: 2px;border-color: #f5f5f5;border-radius: 1px;}


.index-content .aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    max-width: 500px;
    background:#000;
    box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);
    background-size:cover;
    background-position:50% 50%;
}
.col1 .aside{
    background-image:url('/img/aside7.jpg');
}
.col2 .aside{
    background-image:url('/img/aside8.jpg');
}
.col3 .aside{
    background-image:url('/img/aside5.jpg');
}
.col4 .aside{
    background-image:url('/img/aside4.jpg');
}

.index-content .section { margin-left:30%; padding-top:80px; padding-right:15%; ;}

.index-content .artical-list { width:70%; margin:0 auto; }
.index-content .artical-list li { margin-bottom:70px; font-size: 18px}
.index-content h2 { font-size:20px; margin-bottom:15px; word-break: break-all;}
.index-content h2 a { color:#444 }
.index-content h2 a:hover { color:#E50053; text-decoration:none; }
.index-content .title-desc {color:#999;font-size:14px;line-height:1.6em;}

.index-content .artical-cate { width:70%; margin:0 auto; }
.index-content .artical-cate li { display:inline-block; *float:left; zoom:1; font-size:18px; width:18%; cursor:pointer; }
.index-content .artical-cate li a,
.index-content .artical-cate li a:visited { display:inline-block; zoom:1; color:#000; width:100%; }
.index-content .artical-cate li a:hover { text-decoration:none; }
.index-content .artical-cate li.on span{ color:red; }

.index-content .cate-bar { height:3px; width:70%; margin:0 auto;margin-bottom:100px; }
.index-content #cateBar { display:inline-block; zoom:1; height:3px; background:red; position:relative; width:0; }

/***************Wiki Style*****************/
.wiki h2{cursor:pointer;}
.wiki ul{margin-left:30px;margin-bottom:20px;list-style:disc}
.wiki ul li{margin-bottom:5px;}
.wiki ul ul{list-style:circle;margin-top:10px;margin-bottom:10px;}

/***************contact style*************/
#disqus_container {font-size:14px;margin-bottom: 10px;margin-top: 5px;}
#disqus_container a.comment{font-size:18px; background: transparent;}
#duoshuo_container {font-size:14px;}
#duoshuo_container a.comment{font-size:18px; background: transparent;}
h3.about {color:#777;margin-top:20px;font-size:22px;margin-bottom:10px}
.about-link a {margin-right:10px;font-weight:bold;font-style:italic;font-size:13px;color:#E50053}


/**************目录导航**************/
#menuIndex {overflow:auto;}
#menuIndex a {display:block; padding:2px 0; }
#menuIndex a:hover {text-decoration:none;}
#menuIndex ul {margin-bottom:10px;}
#menuIndex ul li{font-size:12px;margin-bottom:5px;word-wrap:break-word;padding-left:10px;}
#menuIndex ul li.on{background-color:#f5f5f5;}
#menuIndex li.h1{font-size:14px;font-weight:normal;padding-left:0;margin-bottom:10px;}
#menuIndex li.h3{padding-left:25px;}

.home-menu { position:fixed; top:15px; left:15px; z-index:5; font-size:0; }
.home-menu-icon { line-height:38px; padding:0 8px; display:inline-block; color:#fff; font-size:18px;  background:#000; }
.home-follow { margin-left:2px; line-height:38px; padding:0 8px; display:inline-block; color:#fff; font-size:18px; background:#000;  }
.home-menu-icon:hover,
.home-follow:hover { color:#fff; text-decoration:none; }
.home-contact { color:#fff; margin-top:2px; background:#000; padding:10px 0 4px; text-align:center;display: none;}
.home-contact a { width:30%; height: 32px; display:inline-block; color:#FFFFFF; font-size:18px;}
.home-contact img { width:18px;border-width: 2px;border-color: #f5f5f5;border-radius: 1px; }
.home-contact i {margin-right: 3px;}

@media screen and (max-width: 750px){
    body {font-size:14px;}
    #content {width:85%;margin:100px auto 50px; }

    h2{font-size:20px;}
    h3{font-size:16px;}
    embed {display:none;}

    .entry-title,.entry-title a {font-size:24px;}
    .entry-date {margin-bottom:40px;}
    .entry img{max-width:90%; border-width: 2px;border-color: #f5f5f5;border-radius: 1px;}
    .entry pre ol li{margin-bottom:0;line-height:1em;}
    .entry pre code{line-height:1em;font-size:12px;}
    .sidenav {display:none;}
    .entry {float:none;width:auto;background:transparent;padding:0;box-shadow:none;}

    .index-content .aside { position:relative; width:100%; height:300px; max-width:none; }
    .index-content .section { margin-left:0; padding-right:0; }
    .index-content .section ul { width:85%; }
    .index-content .cate-bar { width:85%; }
    .index-content .artical-cate { margin-top:50px; }

    .col1 .aside,
    .col2 .aside,
    .col3 .aside,
    .col4 .aside,
    .col5 .aside {display:none;background-image:none;}
}

@media screen and (max-width: 1025px){
    #menuIndex {display:none;}
    .home-menu { position:absolute; }
    .index-content .cate-bar ,
    .index-content .artical-list,
    .index-content .artical-cate { width:85%; }
    .sidenav {display:none;}
    .entry {float:none;width:auto;background:transparent;padding:0;box-shadow:none;}
    #content {width:85%;margin:100px auto 50px; }

}
@media screen and (max-width: 1300px){
    .home-menu { position:absolute; }
}

/*==========以下为自定义css==========*/

/* 固定Flickr框架原宽高比 */
.flickr-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.flickr-container iframe,
.flickr-container object,
.flickr-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {  width:8px;  margin-right:2px}
/* 水平滚动条 */
::-webkit-scrollbar:horizontal {  height:8px;  margin-bottom:2px}
/* 滚动条外层轨道 */
::-webkit-scrollbar-track {    border-radius: 8px;}
/* 滚动条内层轨道 */
::-webkit-scrollbar-track-piece {    background-color: #EEEEEE;  border-radius: 8px;}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {  width:10px;    border-radius: 5px;    background: #bababa; }
/* 滚动条滑块悬停 */
::-webkit-scrollbar-thumb:hover {  background: #6d6d6d; }

/*分页导航样式*/
.pagination {display: block;height: 65px;margin-top: 10px;margin-bottom: 20px; margin-left: 2%}

.pagination .prev, .pagination .next {
    border-radius: 10px;
    font-size: 14px;
    background-color: #f5f5f5;
    display: inline-block;
    padding: 2px 5px 2px 5px;
/*    margin-bottom: 10px;*/
}

.pagination ul {
	margin-left: 2%;
}

.pagination .prev{
    float: left;
}

.pagination .next{
    float: right;
    margin-right: 3%;
}

.pagination a:hover{
    text-decoration:none;
}

.pagination .disabled {
    background-color: #ed8a8a;
    border-radius: 10px;
    font-size: 14px;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    margin-bottom: 10px;
}

hr{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #eee;
}

/*About页面的icon样式*/
blockquote .about-icon a i {color: #1c463c;}
blockquote .about-icon a {background: transparent;}

blockquote{    
    padding: 10px 10px;
    margin: 0 0 20px;
    font-size: 16px;
    border-left: 5px solid #eee}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
/*返回顶部按钮样式*/
.back-top {
    display: block;
    width: 45px;height: 34px;
    border-radius: 4px;
    position:fixed;right:15px;bottom:20px;
    background-color:#fafafa;
}
/*选择文本的颜色*/
::selection { background:#d9d9d9; color:#000;}
::-moz-selection { background:#d9d9d9; color:#000;}
::-webkit-selection { background:#d9d9d9; color:#000;}

/*标签页面相关样式*/
.listing {
    list-style-type: none;
    margin: 30px 3% 10px 7%;
}

.listing ul, .listing ul li{
    list-style-type: none;
}

.entry .listing-item, .entry  .listing-seperator {
    list-style-type: none;
}

.listing-item a {
    padding: 0.2em 2em;
}

.listing-item time {
    color: #768185;
    padding-left: 2.2em;
    font-family: "Verdana", sans-serif;
}

.listing-seperator {
    font-weight: bold;
    color: #3f4142;
}

.listing-item-a, .listing-seperator {
    font-family: "Verdana", "Microsoft YaHei", sans-serif;
}

#tag_could {
    width: 90%;
    margin: 40px 0 40px;
    margin-left: 5%;
    line-height: 2em;

}

#tag_cloud a {text-decoration: none;}
#tag_cloud a:hover {text-decoration: none;}

.footer-navi {
    text-align:right;
    margin-right:4%;
    margin-bottom:-43px;
    margin-top: 22px;
}
.footer-navi a{
    color:#808080;
    text-decoration: none;
}

/*Cuisine模板样式*/

/*.cuisine-container:before{
    position: absolute;
    width: 10px;
    background: rgba(251, 198, 150, 0.8);
    top: 0px;
    left: 11.5%;
    margin-left: -2px;
    content: '';
    height: 200%;
    z-index: -100;
}
*/
ul.cuisine-container {
    margin-left: 0px;
    margin: 40px 0;
    padding: 0;
    background: url("/img/timeline-background.png") repeat-y scroll 30px 0 transparent;
}

ul.cuisine-container li.dish-container {
    list-style: none;
}

.cuisine-date {
    background-color: #ff9966;
    border-radius: 30%;
    width: 65px;
    height: 55px;
    margin-left: 10px;
}

.cuisine-date span {
    display: inline-block;
    padding-top: 19%;
    padding-left: 7%;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bolder;
}

div .cuisine-title {
    margin-top: -2.6em;
    margin-left: 0.5em;
}

div .cuisine-title h2{
    display: inline-block;
    padding-left: 2.5em;
    font-size: 2em;
    width: 80%;
    color: #694816;
    margin-bottom: 0.5em;
}

@media screen and (max-width:750px){
/* Timeline Series adjustment for small screen */
    ul.cuisine-container {
    background: url("/img/timeline-background.png") repeat-y scroll 0px 0 transparent;}

    .cuisine-date {margin-left: -20px;}

    div .cuisine-title h2{padding-left: 2.5em;}
    div .cuisine-title {margin-top: -2.8em;}
}

.cuisine-photo img {
    margin-left: 15%;
    width: 80%;
    border-radius: 5%;
}

.cuisine-info {
    margin-left: 15%;
}

.poem {
    font-family: "STFangsong";
    text-align: center;
    font-size: 20px;
}

.poem h6 {
    font-size: 25px;
}