/* 页面配置 */
.container {width: 100%; height: 100%;}
body, html {
  margin: 0px;
  height: 100%;
  overflow: hidden;
  background-color: #1c463c;
}
.row {height: 100%;}
/* 导航栏 + 目录栏 */
.aside {height: 100%;}
/* 左侧导航栏 */
.aside1 {
  background-color: #1c463c;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}
.aside1 > .nav > li > a {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
}
.avatar {width: 60px; height: 60px;}
.aside1_bottom {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.aside1_bottom > .table {margin-bottom: 0px;}
#content ul, ol, dl, li {margin: 0px;}
/* 中部目录栏 */
.aside2 {
  background-color: #fafaf6;
  height: 100%;
  border-right: 2px solid #18bc9c;
  overflow-y: auto;
}
/* 右侧内容栏 */
.aside3 {
  height: 100%;
  overflow-y: auto;
  background-color: #fafaf6;
  overflow-x: hidden;
}
.aside3-title {
  background-color: #1c463c;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  color: #FFF;
}
.aside3-content {padding-left: 30px;padding-right: 30px;}
/* 文章内容排版 */
a:hover {text-decoration:none;}
#content {font-size: 18px; line-height: 1.5;}
#content p {margin: 20px 0px;}
#content ul, ol, dl, li {margin: 10px 0px;}
.nav > li {margin: 0px;}
#content h2, h3 {line-height: 2;}
#content blockquote > :first-child {margin-top: 0; }
#content blockquote > :last-child {margin-bottom: 0;}
/* 其他配置 */
.center { text-align: center;}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #2a6496;
  background-color: #fafaf6;
}
/* 显示评论按钮 */
.show-commend {width: 100%; margin-bottom: 40px;}

/*#page-tags {
    font-size: 12px; 
    line-height: 1.5;
    text-align: center;
    background-color: #cbcbcb;
    border-radius: 2px;
}*/

.flickr-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.flickr-container iframe,
.flickr-container object,
.flickr-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width:8px;
  margin-right:2px
}
/* 水平滚动条 */
::-webkit-scrollbar:horizontal {
  height:8px;
  margin-bottom:2px
}
/* 滚动条外层轨道 */
::-webkit-scrollbar-track {
    border-radius: 8px;
}
/* 滚动条内层轨道 */
::-webkit-scrollbar-track-piece {
    background-color: #EEEEEE;
  border-radius: 8px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  width:10px;
    border-radius: 5px;
    background: #bababa; 
}
/* 滚动条滑块悬停 */
::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d; 
}

img{
  max-height: 100%
}