a {
    color: #4A75B5;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline
}

a.external {
    padding-right: 13px;
    background: url('/img/icons.gif') no-repeat right 1px;
}

a.external:hover {
    background-position: right -15px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
}

h2.page-h2 {
    color: #323232;
}

h2.page-h2:before {
    content: "⌬";
    margin-left: -17px;
    padding-right: 8px;
}

h3.page-h3 {
    color: #18453B;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

h3.page-h3:before {
    content: "🍥";
    margin-left: -18px;
    padding-right: 8px;
}

h4,
h5,
h6 {
    font-weight: bold;
    margin-bottom: 15px;
}

p {
    margin-bottom: 30px;
    line-height: 1.8em;
}

code {
    background: #eee;
    border: 1px solid #ccc;
    padding: 0 5px;
    font-family: "Courier";
    line-height: 14px;
    font-size: 14px;
    word-wrap: break-word;
}

pre {
    background-color: #000;
    padding: 15px;
    overflow: auto;
    margin-bottom: 40px;
    word-wrap: normal;
    font-size: 14px;
    border: 1px solid #eee;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    color: #b9bdb6;
    margin-top: -20px;
}

h4+pre,
h3+pre {
    margin-top: 20px;
}

pre code {
    background-color: transparent;
    border: none;
    padding: 0px;
    word-wrap: normal;
    // overflow-x:
}

pre ol {
    margin-left: 25px;
    list-style-type: decimal;
}

#content {
    width: 1060px;
    margin: 90px auto 60px;
    min-height: 400px;
    height: auto !important;
    height: 400px;
}

/* added in 2021.09.08. Image caption*/
img+em {
    display: block;
    text-align: center;
    font-style: italic;
}

em {
    font-style: italic;
    font-weight: 500;
}

// Scroll bar

/* scroll bar - general */
::-webkit-scrollbar {
    width: 8px;
    margin-right: 2px
}

/* scroll bar - horizontal */
::-webkit-scrollbar:horizontal {
    height: 8px;
    margin-bottom: 2px
}

/* scroll bar - outer track */
::-webkit-scrollbar-track {
    border-radius: 8px;
}

/* scroll bar - inner track */
::-webkit-scrollbar-track-piece {
    background-color: #EEEEEE;
    border-radius: 8px;
}

/* scroll bar - bar itself */
::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 5px;
    background: #bababa;
}

/* scroll bar - hover */
::-webkit-scrollbar-thumb:hover {
    background: #6d6d6d;
}

.post-footer {
    padding-top: 10px;
}

// Horizontal ruler
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #CCC;
}

/* About page icon format */
blockquote .about-icon a i {
    color: #1c463c;
}

blockquote .about-icon a {
    background: transparent;
}

blockquote {
    padding: 10px 10px;
    margin: 0 0 20px;
    font-size: 16px;
    border-left: 5px solid #eee
}

/* Selected text color */
::selection {
    background: #d5d5d5;
    color: #000;
}

::-moz-selection {
    background: #d5d5d5;
    color: #000;
}

::-webkit-selection {
    background: #d5d5d5;
    color: #000;
}

.alert.alert-dark::selection {
    background: #949494;
    color: #000;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.highlight ol li {
    margin-bottom: 0px;
    list-style: decimal;
    line-height: 2.0em;
}

@-ms-viewport {
    width: device-width;
}

.visible-s,
.visible-m,
.visible-l {
    display: none;
}
