<script>var duoshuoQuery = {short_name:"{{ site.duoshuo.short_name }}"};</script>
<script src="http://static.duoshuo.com/embed.js"></script>

<script type="text/javascript">
function toggleDuoshuoComments(container){
    var el = document.createElement('div');//该div不需要设置class="ds-thread"
    el.setAttribute('data-thread-key', '{{page.id | jsonify}}');//必选参数
    el.setAttribute('data-title', '{{page.title}}');//必选参数
    el.setAttribute('data-url', 'http://dlyang.me{{page.url}}');//必选参数
    el.setAttribute('data-author-key', 'LanternD');//可选参数
    DUOSHUO.EmbedThread(el);
    jQuery(container).append(el);
}
</script>

<div id="disqus_container">
    <div style="margin-bottom:20px" class="right">
        
    </div>
    <a href="#" class="comment" onclick="return false;"></i><font size="3"> Disqus</font></a>
    <div id="disqus_thread"></div>
</div>

	<hr>

<div>
	<a href="javascript:void(0);" onclick="toggleDuoshuoComments('#comment-box');$(this).hide(200);">
		<i class="fa fa-comments-o fa-2x" style="color: #0d5d56;"></i><font size="3"> 使用多说</font>
	</a>
</div>

<div id="comment-box" ></div>