
<!--多说评论界面 1st test
<div>
<button id="comment-toggle" type="button" class="btn btn-default show-commend">
	<i class="fa fa-comments-o fa-2x" style="color: #0d5d56;"></i>
</button>
</div>
<div>
<button id="comment-hidde" type="button" class="btn btn-default show-commend">
	<i class="fa fa-list fa-2x" style="color: #0d5d56;"></i>
</button>
</div>-->

<!--多说评论界面 2nd test
<div id="duoshuo-box" class="ds-thread" data-thread-key="{{page.id}}" data-title="{{page.title}}" data-url="{{page.url}}"></div>

<script type="text/javascript">

var duoshuoQuery = {short_name:"dlyang"};//short_name根据实际情况设定。
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>-->

<!--多说评论界面 3rd test-->
<script>var duoshuoQuery = {short_name:"dlyang"};</script>
<script src="http://static.duoshuo.com/embed.js"></script>

<script type="text/javascript">
function toggleDuoshuoComments(container){
    var el = document.createElement('div');//该div不需要设置class="ds-thread"
    el.setAttribute('data-thread-key', '{{page.title}}');//必选参数
    el.setAttribute('data-url', '{{page.url}}');//必选参数
    el.setAttribute('data-author-key', 'LanternD');//可选参数
    DUOSHUO.EmbedThread(el);
    jQuery(container).append(el);
}
</script>

<a href="javascript:void(0);" onclick="toggleDuoshuoComments('#comment-box');">
<button id="comment-show" type="button" class="btn btn-default show-commend">
	<i class="fa fa-comments-o fa-2x" style="color: #0d5d56;"></i>
</button></i>
</a>

<div id="comment-box" ></div>