<!--    * Author: BeiYuu, Revised by: LanternD    -->
<meta charset="utf-8" />
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="author" content="LanternD" />
<meta name="renderer" content="webkit">
<meta name="description" content="{{ site.description }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<meta name="google-site-verification" content="llr24tRM0DLZEvzkhyXfxmpLJF3RrA5w3qGR-KddOd8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<link rel="stylesheet" href="/css/syntax.css" type="text/css" >
<link rel="stylesheet" href="/css/default.css" type="text/css" >
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon" >
<link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" >
<!-- <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script> -->
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
