<div class="home-menu">
    <div class="home-icon-con">
        <a class="home-menu-icon" href="/">LanternD</a>
        <a class="home-follow" href="#" title="More of this site">+</a>
    </div>
    <div class="home-contact">
      <ul>
        <li><a href="/guestbook/" style="margin-left:5px" title="留言板"><i class="fas fa-pencil-alt fa-lg" style="color:#FFF"></i> 留言</a></li>
        <li><a href="/about/" title="关于我"><i class="fa fa-user fa-lg" style="color:#FFF"></i> 关于</a></li>
        <a href="{{ site.author.instagram }}" target="_blank" title="My Instagram"><i class="fab fa-instagram fa-lg" style="color:#FFF"></i> </a>
        <a href="{{ site.author.mastodon }}" target="_blank" title="DY-Talk（我的自建微博）"><i class="fab fa-mastodon fa-lg" style="color:#FFF"></i> </a>
        <a href="{{ site.author.telegram }}" target="_blank" title="My Telegram"><i class="fab fa-telegram fa-lg" style="color:#FFF"></i> </a>
      </ul>
    </div>
</div>

<script type="text/javascript">
    (function($) {
        $('.home-follow').click(function(e) {
            e.preventDefault();

            if ($('.home-contact').is(':visible')) {
                $('.home-contact').slideUp(100);
            } else {
                $('.home-contact').slideDown(100);
            }
        });
    })(jQuery);
</script>
