<div class="home-menu">
    <div class="home-icon-con">
        <a class="home-menu-icon" href="/">LanternD</a>
        <a class="home-follow" href="#" title="More of this site">+</a>
    </div>
    <div class="home-contact">
        <a href="/guestbook.html" style="margin-left:5px" title="留言板"><i class="fa fa-pencil-square-o fa-lg" style="color:#FFFFF"></i>   </a>
        <a href="/about" title="关于我"><i class="fa fa-user fa-lg" style="color:#FFFFF"></i>   </a>
        <a href="http://instagram.com/lantern_d/" target="_blank" title="My Instagram"><i class="fa fa-instagram fa-lg" style="color:#FFFFF"></i> </a>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('.home-follow').click(function(e){
            e.preventDefault();

            if($('.home-contact').is(':visible')){
                $('.home-contact').slideUp(100);
            }else{
                $('.home-contact').slideDown(100);
            }
        });
    })
</script>