<hr>
<div class="pagination">
  <ul>
  {% if page.previous %}
    <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr;往事-{{ page.previous.title }}</a></li>
  {% else %}
    <li class="prev disabled"><a>&larr; 尽头</a></li>
  {% endif %}
    <li><a href="\archive">时间线</a></li>
  {% if page.next %}
    <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}-  &rarr;</a></li>
  {% else %}
    <li class="next disabled"><a>彼岸 &rarr;</a>
  {% endif %}
  </ul>
</div>