<!-- Control Button -->
<button type="button" data-toggle="modal" data-target="#search-modal" style="display: none"></button>

<!-- Search Modal -->
<div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="search-modal-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom-color: transparent">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <center>
          <label><h3>星系漫游指南</h3></label>
        </center>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
          <input type="text" class="form-control ls-modal-search-input" placeholder="活动一下手指...">
        </div>
      </div>
      <div class="modal-body">
        <div class="media">
          <div class="media-body"></div>
        </div>
      </div>
      <div class="modal-footer">
          <p class="text-center">Code by <a href="https://www.lattespirit.com/" target="_blank"><strong>@Lattespirit</strong></a></p>
      </div>
    </div>
  </div>
</div>