<div class="sidenav">
    <h2>订阅</h2>
    <a href="/rss.xml" class="rss"><i class="fa fa-rss"></i> <strong>RSS订阅</strong></a>
    <a href="#wechat-modal" class="rss" data-toggle="modal" style="margin-top: 10px; margin-bottom: 5px;"><i class="fab fa-weixin"></i> <strong>微信公众号</strong></a>

</div>

<div id="wechat-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">微信公众号</h3>
            </div>
            <div class="modal-body">
                <figure>
                    <img src="/img/wx-QRCode.jpg" alt="WeChat QR Code" align="middle" />
                    <figcaption align="middle">扫描二维码即可关注。</figcaption>
                </figure>
                <p>　公众号只推送摘要和链接，仅用于提醒新文章发表，不会全文转发。在文章中点击「阅读原文」即可跳转到Blog主页面。</p>
                <p>　相关文章：《<a href="/wechat-mp-reincarnation/">微信公众平台的重新启用和感想</a>》</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" title="关闭导航栏">云开月明</button>
            </div>
        </div>

    </div>
</div>

<div class="sidenav">

    <h2>文以类聚</h2>
    <ul class="artical-list">
        <li><a href="/event-horizon">事件视界</a></li>
        <li><a href="/hitech">HiTech</a></li>
        <li><a href="/viewfinder">取景器</a></li>
        <li><a href="/cuisine">料理时</a></li>
        <hr>
        <li><a href="/archive">
                <h3><i class="fa fa-archive"></i> <strong>时间线</strong></h3>
            </a></li>
        <li><a href="/tags">
                <h3><i class="fa fa-tags"></i> <strong>标签云</strong></h3>
            </a></li>
    </ul>

</div>
