<div class="sidenav">
  <h2>占位</h2>
  Swiftype搜索框删掉了，先随便放点东西。<br>
  
</div>

<div class="sidenav">
  <a href="/rss.xml" class="rss"><i class="fa fa-rss"></i> <strong>RSS订阅</strong></a>
  <hr>
  <h2>图书馆分类法</h2>
  <ul class="artical-list">
    <li><a href="/event-horizon">事件视界</a></li>
    <li><a href="/hi-tech">Hi-Tech</a></li>
    <li><a href="/viewfinder">取景器</a></li>
    <li><a href="/cuisine">料理时</a></li>
    <hr>
    <li><a href="/archive"><h3><i class="fa fa-archive"></i> <strong>时间线</strong></h3></a></li>
    <li><a href="/tags"><h3><i class="fa fa-tags"></i> <strong>标签云</strong></h3></a></li>
  </ul>

</div>