<nav class="navbar navbar-expand-md navbar-light fixed-top" style="display: none; background-color: #e9ecef;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand ms-1 h1" href="/">LanternD</a>
        </div>
        <button type="button" class="navbar-toggler ml-auto" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="myNavbar">
            <ul class="navbar-nav flex-row mt-sm-3 mt-md-0 ms-md-auto justify-content-between">
                <li class="nav-item ms-auto">
                    <a class="nav-link" href="/archive/" title="时间线"><i class="fa fa-archive fa-lg"></i> 归档</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tags/" title="标签云"><i class="fa fa-tags fa-lg"></i> 标签</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.author.mastodon }}" target="_blank" title="DY-Talk"><i class="fab fa-mastodon fa-lg"></i> DY-TK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.author.instagram }}" target="_blank" title="My Instagram"><i class="fab fa-instagram fa-lg"></i> INS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/" title="关于我"><i class="fa fa-user fa-lg"></i> 关于</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row mt-ms-0 mt-md-0 ms-md-2 justify-content-between">
                <li class="nav-item ms-auto">
                    <a class="nav-link nav-toc" href="#" data-bs-toggle="modal" data-bs-target="#toc-modal" onclick="tocGenerator('#toc-container');" style="font-size: 18px;"><i class="fa fa-list-ul fa-lg"></i> 文章目录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="modal fade" id="toc-modal" tabindex="-1" aria-labelledby="toc-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close btn btn-light" data-bs-dismiss="modal">&times;</button>
                <h3 class="modal-title"> 文章目录 - 引以为流觞曲水，列坐其次</h3>
            </div>

            <div class="modal-body" id="toc-container"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal" title="关闭导航栏">云开月明</button>
            </div>
        </div>

    </div>
</div>

<script src="/js/topnav-toc-gen.js" type="text/javascript"></script>

<script type="text/javascript">
    $(window).scroll(function() {
        var narrow_screen = $(this).width() < 992 ? true : false;
        if ($(this).scrollTop() > 200 && narrow_screen) {
            $('nav').fadeIn();
        } else {
            $('nav').fadeOut();
        }
    });
</script>
