.index-content {
    background: #FFF;
}

.index-content .aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    max-width: 500px;
    background: #000;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: 50% 50%;
}

.col1 .aside {
    /*main index*/
    background-image: url('/img/aside1.jpg');
}

.col2 .aside {
    /*hi tech*/
    background-image: url('/img/aside2.jpg');
}

.col3 .aside {
    /*viewfinder*/
    background-image: url('/img/aside3.jpg');
}

.col4 .aside {
    /*cuisine*/
    background-image: url('/img/aside4.jpg');
}

.col5 .aside {
    /*event-horizen*/
    background-image: url('/img/aside5.jpg');
}

.index-content .section {
    margin-left: 30%;
    padding-top: 80px;
    padding-right: 10%;
    max-width: 1024px;
}

.index-content .artical-list {
    width: 70%;
    margin: 0 auto;
}

.index-content .artical-list li {
    margin-bottom: 70px;
    font-size: 18px
}

.index-content h2 {
    font-size: 20px;
    margin-bottom: 15px;
    word-break: break-all;
}

.index-content h2 a {
    color: #444
}

.index-content h2 a:hover {
    color: #E50053;
    text-decoration: none;
}

.index-content .title-desc {
    color: #999;
    font-size: 14px;
    line-height: 1.6em;
}

.index-content .artical-cate {
    width: 70%;
    margin-left: 15%;
    max-width: 600px;
}

.index-content .artical-cate li {
    display: inline-block;
    *float: left;
    zoom: 1;
    font-size: 18px;
    width: 18%;
    cursor: pointer;
}

.index-content .artical-cate li a,
.index-content .artical-cate li a:visited {
    display: inline-block;
    zoom: 1;
    color: #000;
    width: 100%;
}

.index-content .artical-cate li a:hover {
    text-decoration: none;
}

.index-content .artical-cate li.on span {
    color: red;
}

.index-content .cate-bar {
    height: 3px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.index-content #cateBar {
    display: inline-block;
    zoom: 1;
    height: 3px;
    background: red;
    position: relative;
    width: 0;
}
