@include media-breakpoint-up(lg) {
    .navbar {
        display: none !important;
    }

    body {
        background:#e8e8e8;
    }
}

@include media-breakpoint-up(xl) {
    .visible-l {
        display: block !important;
    }

    .home-menu {
        position: fixed;
    }
}
