@use "../_base/variables" as vars;

@media (min-width: vars.$bp-lg) {
    .navbar {
        display: none !important;
    }

    body {
        background: #e8e8e8;
    }
}

@media (min-width: vars.$bp-xl) {
    .visible-l {
        display: block !important;
    }

    .home-menu {
        position: fixed;
    }
}
