/* return to top button */
.back-top {
    display: block;
    width: 45px;
    height: 34px;
    border-radius: 4px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #fafafa !important;
}

.back-top .btn {
    background-color: #fafafa !important;
}
