<!DOCTYPE html>
<html>

<head>
    {% include header.html %}
</head>

<body>

    {% include top-nav.html %}

    {% include homemenu.html %}

    {{ content }}


    <!-- Deal with anchor links -->
    <!-- TODO: merge topnav-toc-gen.js to anchor-link.js in the future -->
    <script type="text/javascript" src="/js/anchor-link.js"></script>

    {% include footer.html %}

    <!-- Back to top button -->
    {% include return-to-top-button.html %}

    <script type="text/javascript" src="/js/post.js"></script>

</body>

</html>
