---
layout: default
---

<div class="index-content col1">
    <div class="section pe-md-4 pe-lg-2">
        <ul class="artical-cate d-flex justify-content-between ms-xs-1">
            <li><a href="/"><span>视·界</span></a></li>
            <li><a href="/hitech/"><span>Hi-Tech</span></a></li>
            <li><a href="/viewfinder/"><span>取景器</span></a></li>
            <li><a href="/cuisine/"><span>料理时</span></a></li>
            <li><a href="/archive/"><span>时间线</span></a></li>
        </ul>

        <div class="cate-bar"><span id="cateBar"></span></div>

        {{ content }}
        <div class="aside">
        </div>
    </div>

    <script type="text/javascript" src="/js/home.js"></script>
