---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1025px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        
        {{ content }}
        
    </div>

    {% include swiftype.html %}

    <div class="sidenav">
        <h2>图书馆分类法</h2>
        <ul class="artical-list">
            <li><a href="/">视·界</a></li>
            <li><a href="/hi-tech">Hi-Tech</a></li>
            <li><a href="/viewfinder">取景器</a></li>
            <li><a href="/cuisine">料理时</a></li>
            <hr>
            <li><a href="/archive.html"><strong>时间线</strong></a></li>
        </ul>
    </div>

    <div class="sidenav">
        <h2>近况·有善可陈</h2>
        {% for post in site.posts limit:15 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </div>

</div>
<hr>
<script src="/js/post.js" type="text/javascript"></script>