---
layout: base
---
<div class="row">
  <div class="col-md-12 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
	<br>
  </div>
  <div class="col-md-12 aside3-content">
    <div id="page-content">
      {{ content }}
    </div>
	<blockquote>
	  <p>
	  <strong>LanternD</strong>  <br>
	  <img src="http://lanternd.qiniudn.com/Logos/LanternD_Logo.png?imageView2/0/h/60" alt="LanternD_Logo" title="">  </p>
	</blockquote>
	 <script>var duoshuoQuery = {short_name:"dlyang"};</script>
  <script src="http://static.duoshuo.com/embed.js"></script>
    <hr>
    {% include duoshuo.html %}
  </div>
</div>
