---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<style type="text/css">
  body { background:#e8e8e8; }
  @media screen and (max-width: 750px){
    body { background:#fff; }
  }
  @media screen and (max-width: 1025px){
    body { background:#fff; }
  }
</style>

<div id="content">
<div class="entry">
  <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
  <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
  
  {% if page.description != null %}
  <pre>{{ page.description }}</pre>
  {% endif %}

  {{ content }}
  
  <blockquote style="margin-bottom:1%">
    <p>
      <strong>LanternD</strong>  <br>
      <img align="left" src="/img/LanternD_Logo.png" width="217px" height="60px" alt="LanternD_Logo" title="LanternD's Signature"><br></p><br><br><br>
  </blockquote>

  {% include pagination.html %}
  {% include comment.html %}
</div>

{% include sidenav-upper.html %}
{% include sidenav-lower.html %}
</div>