---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1025px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        {{ content }}
        
        <blockquote>
          <p>
          <strong>LanternD</strong>  <br>
          <img align="left" src="/img/LanternD_Logo.png" width="217px" height="60px" alt="LanternD_Logo" title="LanternD's Signature"><br></p>
        </blockquote>

        {% include pagination.html %}
        {% include comment.html %}
    </div>

    {% include swiftype.html %}

    <div class="sidenav">
        <h2>图书馆分类法</h2>
        <ul class="artical-list">
            <li><a href="/">视·界</a></li>
            <li><a href="/hi-tech">Hi-Tech</a></li>
            <li><a href="/viewfinder">取景器</a></li>
            <li><a href="/cuisine">料理时</a></li>
            <hr>
            <li><a href="/archive.html"><strong>时间线</strong></a></li>
        </ul>

    </div>

    <!-- {% include tag-cloud.html %} -->
    <div class="sidenav">
        <h2>更多关于『{{page.categories.first}}』的文章</h2>
        <ul class="artical-list">

        {% case page.categories.first %}

            {% when 'blog' %}
                {% for post in site.categories.blog limit:15%}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}

            {% when 'hitech' %}
                {% for post in site.categories.hitech limit:15 %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}

            {% when 'viewfinder' %}
                {% for post in site.categories.viewfinder limit:15 %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}

            {% when 'cuisine' %}
                {% for post in site.categories.cuisine limit:15 %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}

            {% else %}
                {% for post in site.related_posts limit:15 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
        {% endcase %}
        </ul>
    </div>
</div>

<div class="back-top" title="返回顶部">
    <button class="btn btn-primary">
      <i class="fa fa-lg fa-chevron-up" style="color:#0e0e0e"></i>
    </button>
</div>

<script src="/js/post.js" type="text/javascript"></script>
