---
layout: base
---
<div class="row">
  <div class="col-md-12 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
    {{ page.date | date:"%Y 年 %m 月 %d 日" }}
	<br>
  </div>
  <div class="col-md-12 aside3-content">
    {% include content.html %}
    <hr>
    <div id="content">
      {{ content }}
    </div>
	<blockquote>
	  <p>
	  <strong>LanternD</strong>  <br>
	  <img src="http://lanternd.qiniudn.com/Logos/LanternD_Logo.png?imageView2/0/h/60" alt="LanternD_Logo" title="">  </p>
	</blockquote>
	
	 <script>var duoshuoQuery = {short_name:"dlyang"};</script>
  <script src="http://static.duoshuo.com/embed.js"></script>
	<script type="text/javascript">
		function toggleDuoshuoComments(container, id, url){
		  if(jQuery(container).has("div").length>0){
			jQuery(container).empty();
			return;
		  }
		  
		  var el = document.createElement('div');
		  el.setAttribute('data-thread-key', id);
		  el.setAttribute('data-url', url);
		  DUOSHUO.EmbedThread(el);
		  jQuery(container).append(el);
		  
		}
	   </script>
		<hr>
		<div id="comment-box" ><button type="button" class="btn btn-default show-commend" href="javascript:void(0);" onclick="toggleDuoshuoComments('#comment-box');this.style.display = "none"" >
      <i class="fa fa-comments-o fa-2x" style="color: #0d5d56;"></i>
      </button>
    </div>
</div>

